@charset "UTF-8";
@font-face {
    font-family: hanken;
    src: url(../resumo/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: hanken-bold;
    src: url(../resumo/assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: hanken;
}

header {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 340px;
    margin: auto;
    /* background-color: rgb(38, 38, 192); */
    color: rgb(131, 139, 148);
    text-align: center;
    padding: 20px;
    border-radius: 0px 0px 30px 30px;
}

header > h1 {
    margin-bottom: 20px;
}

strong {
    color: white; 
    font-size: 2.5em;
    font-family: hanken-bold;
} 

header > div {
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* background-color: aqua; */
    margin: auto;
    
}

div > p {
    padding-top: 20px;
}

header > p {
    padding: 10px;
    font-size: 1.2em;
}

section {
    width: 330px;
    margin: auto;   
}

section > h1 {
    padding: 20px 0px;
}

section >p {
    margin: 10px;
    background-color: hsl(0, 67%, 88%);
    color: hsl(0, 100%, 67%);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

section > p > svg {
    margin-right: 10px;
}

footer {
     padding-top: 20px;
     text-align: center;
}

footer > input {
     width: 300px;
     padding: 15px;
     font-size: 1.2em;
     border-radius: 30px;
     border: none;
     background-color: rgb(55, 61, 68);
     color: white;
}

